# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Approach_ClaimsProcessingAI_TrustShield.pdf
PRD_ClaimsProcessingAI_TrustShield.pdf
TrustShield_Enterprise_Workflow_Blueprint.pdf
DemoGuide_ClaimsProcessing_TrustShield_1pager.pdf